/*
////////////////////////////////////////////////////////////////
///////////////////   CUSTOM CSS   /////////////////////////////
////////////////////////////////////////////////////////////////
*/



/* Larger than iPhone ---------------------- */
@media only screen
and (min-width: @screen-sm) {

	.small-screen-only {
		display: none;
	}
	.pagename-home,
	.pagename-speakers,
	.pagename-schedule,
	.pagename-location-travel,
	.pagename-promote,
	.pagename-about,
	.pagename-faqs,
	.pagename-contact,
	.pagenmae-leaders  {
		.navbar nav.main-nav ul.nav li.li-cta {
			float: right;
			min-width: 23%;
		}
	}
	.pagename-home,
	.pagename-speakers,
	.pagename-schedule,
	.pagename-location-travel,
	.pagename-promote,
	.pagename-about,
	.pagename-faqs,
	.pagename-contact,
	.pagename-leaders  {
		.navbar nav.main-nav ul.nav li.li-cta > a {
			padding-top: 12px !important;
			padding-top: 6px !important \9;
			padding-bottom: 12px !important;
			margin-top: 19px;
			margin-right: 1.5%;
			font-size: 22px;
		}
	}
	#main {
		margin-bottom: 0;

		article.page {
			padding-top: 50px;
			.paper #speakers .col-sm-3.offset1 {
				margin-left: 140px;
			}
		}
	}
	.home {
		padding-top: 50px;
		#main {
			article.page {
				padding-top: 0;
			}
		}
		#ha-header {
			.transition(all);
			.transition-duration(.4s);
			#ha-header-brand {
				height: 0;
				#logo, #toolbar-nav {
					display: none;
				}
			}
		}
		#ha-header.ha-header-large {
			background-color: transparent;
			margin-top: -12px;

			#ha-header-brand {
				height: 0;
				#logo, #toolbar-nav {
					display: none;
				}
			}
			ul.nav > li > a {
				padding: 38px 0 40px;
				margin-top: 8px;
			}
			ul.nav .li-cta {
				margin-top: 26px;
				margin-top: 21px \9;
			}

		}
		#ha-header.ha-header-small {

			#ha-header-brand {
				height: auto;
				#logo, #toolbar-nav {
					display: block;
				}
			}
		}
	}
}


/* iPhones ---------------------- */
@media (max-width: @screen-xs) {

	.small-screen-hide {
		display: none;
	}
	.pull-right {
		float: none;
		clear: both;
		display: block;
	}

	body {
		padding-left: 0;
		padding-right: 0;
		background-size: 480px auto;
		background-position: center 80px;
		.container {
			padding-left: 20px;
			padding-right: 20px;
		}
		p, li, blockquote, address {
			font-size: @font-size-base * 1.3;
			line-height: 150%;
		}


		&.home {
			background-position: 20% 90px;
			background-size: 480px auto;
			article.page {
				#intro {
					margin-top: 0;
					.location, .date {
						float: none;
						text-align: center;
						padding: 10% 0;
					}
					img {
						width: 70%
					}
					.btn-cta {
						width: 85%;
						padding-top: 15px;
						padding-bottom: 10px;
					}
				}
				.paper {
					#speakers {
						h3 {
							margin-bottom: 2em;
						}
					}
				}
			}
		}
		.modal {
			margin-left: 0;
			background-color: transparent;
			.box-shadow(none);
			border: none;
		}
		.modal-body {
			width: 380px;
			padding:0;
			max-height: auto !important;
			background: transparent;
		}
		.videowrapper {
			margin-bottom: 0;
		}
		&.pagename-speakers {
			background-size: 480px auto;
			background-position: center -80px;
		}
		&.pagename-promote,
		&.pagename-about,
		&.pagename-faqs,
		&.pagename-contact,
		&.pagename-schedule,
		&.pagename-register {
			background-size: 480px auto;
			background-position: center -30px;
		}
		&.pagename-schedule,
		&.pagename-promote {
			background-position: right -30px;
			background-size: 320px auto;
		}
		&.pagename-location-travel {
			background-position: center 00px;
			background-size: 480px auto;
		}

	}
	header[role="banner"] {
		padding-left: 20px;
		padding-right: 20px;
	}
	#main {
		.speakers {
			li {
				.photo img {
					max-width: 100%;
				}
				h2 {
					margin: 10px 0 30px;
				}
			}
		}
		article.page {
			.col-sm-3 {
				.nav {
					background-image: none;
					padding-left: 0;
					li {
						a {
							padding: 10px 0;
						}
					}
				}
			}
		}
		table.table {
			font-size: 14px;
			width: 100%;
		}
	}

	.page-wrap {
		margin-bottom: 0;
		padding-bottom: 0;
		min-height: 300px;
	}


	#logo {
		margin-left: 12px;
		background-size: 160px auto;
		width: 160px;
		height: 38px;
	}
	.navbar-fixed-top {
		margin-bottom: 0;
	}
	#content {
		padding-top: 0;
	}
	.navbar {
		.btn-navbar-main {
			position: absolute;
			right:-5px;
			top:-70px;
			height: 50px;
			width: 40px;
			border-radius: 0;
			background: darken(@red, 4%);
			border-width: 0 0 0 1px;
			.box-shadow(inset 0 1px 0 rgba(255,255,255,.1));
			&:hover {
				background: darken(@red, 10%);
				border-color: darken(@red, 16%);

			}

		}
		.navbar-inner {
			padding:0;
		}
		.nav-collapse.in {
			height: auto !important;
		}

		/* Main Nav */
		nav.main-nav {
			overflow: visible;
			background: darken(@red, 4%);
			border-top: 1px solid rgba(146, 35, 64, .8);

			#menu-main-navigation.nav {
				li {
					margin: 0;
					& > a {
						.box-shadow(inset 0 1px 0 rgba(255,255,255,.1));
						border-bottom: 1px solid rgba(0, 0, 0, .1);
						padding: 13px 10px;
						color: @white;
						.caret {
							float: right;
							border-top-color: @white;
							margin-right: 13px;
							margin-top: 15px;
						}
						& > ul {
							margin: 0;
							> li {
								padding: 13px 10px;
								margin: 0;
							}
						}
					}
					&.active {
						background: darken(@red, 9%);
					}
					&.li-cta {
						background: darken(@red, 13%);
						padding: 7px 5px 7px;
						a {
							.box-sizing(border-box);
							width: 90%;

						}
					}

				}
			}
			#toolbar-nav-2 {
				display: none;
				ul.nav {
					padding-bottom: 20px;
					li {
						margin:0;
						& > a {
							text-transform: none;
							color: darken(@white, 10%);
							font-weight: 300;
							font-size: 18px;
							border-bottom: 1px solid darken(@red, 08%);
						}
						&.tel {
							float: none;
							margin: 0;
							a {
								font-weight: bold;
								font-size: inherit;
							}
						}
					}
				}
			}
			ul.nav {
				clear: both;
				margin-bottom: 0;

				li {
					display: block;
					width: 100%;
					margin: 4px 0;
					& > a {
						display: block;
						padding: 10px;
						margin:0;
						text-align: left;
						color: @white;
						text-shadow: none;

						&:hover {
							background-color: rgba(0,0,0,.1);
							color: @white;
						}

					}
					&.active {
						a {
							color: @white;
							&:hover {
								color: @white;
							}
						}
					}
					&:first-child {
						margin-left: 0;
					}
					&:nth-child(3) {
						width: 100%;
					}
					&.li-cta {
						float: none;
						margin: 5px;
						width: 100%;
						a {
							margin-top: 15px;
							text-align: center;
							margin: 10px;
						}
					}
				}
			}

		}
	}
	#toolbar-nav {
		display: none;
		float: none;
		.nav {
			li {
				& > a {
					font-weight: normal;
					font-size: 18px;
					display: block;
					padding: 10px 10px;
					margin:0;
				}
			}
			.pipe {
				display: none;
			}
		}

	}/* end Toolbar Nav */
	body.home {
		article.page {
			#intro {
				img {
					width: 86%;
					margin-top: 20px;
				}
				.tw14-logo-purple {
					.center-block();
					width: 90%;
					margin-bottom: 4%;
					display: none;
				}
				.col-sm-3 {
					width: auto;
				}
				.location, .date {
					margin-top: 3.6%;
				}
				.btn-cta {
					.box-sizing(border-box);
				}
			}
		}

	}

	#main {
		article.page {
			header {
				.page-header {
					padding: 5px 0 8px;
					margin: 0;
					h1 {
						line-height: 1;
					}
				}
			}
			.paper {
				padding: 20px;
				margin-left: -20px;
				margin-right: -20px;
				& > .row > .col-sm-3 .nav {
					margin-left: 0;
				}
				p.more {
					text-align: left;
				}
			}
			section.post_content {
				h1, h2, h3, h4 {
					line-height: 1.2;
					.btn {
						margin-top: 10px;
					}
				}
				ul, ol {
					li {
						margin-bottom: 1em;
						background-position: 0 17x;
					}
				}
			}
		}
	}
	footer[role="contentinfo"] {
		clear: both;
		float: none;
		height: auto;
		.footer-links {
			clear: both;
			margin-left: 0;
			float: none;
			display: block;
			.menu {
				li {
					float: none;
					display: block;
				}
			}
		}
		#menu-footer-nav {
			margin-left: 0;
			margin-top: 2em;
			.pipe {
				display: none;
			}
		}
		.footer-links-wrap {

			margin-left: -20px;
			margin-right: -20px;
			padding-bottom: 20px;
			.footer-links {
				margin-bottom: 0;
				ul {
					border-top: 1px solid #ccc;
					margin: -1px 0 0;
					position: relative;
					> li {
						margin: 0;
					}
					> li > a {
						background-color: rgba(0,0,0,.035);
						display: block;
						padding-left: 20px;
						padding-right: 20px;
						border-bottom: 1px solid #ddd;
						border-color: rgba(0,0,0,.08);
						line-height: 44px;
					}
				}

			}
		}
		.footer-social-nav {
			float: left;
			margin-bottom: 2em;
			margin-top: -10px;
			em {
				display: none;
			}
		}
	}
}


/* iPads ---------------------- */
@media only screen
and (min-device-width : @screen-md)
and (max-device-width : @screen-lg) {
	body {
		min-width:1024px;
	}
	.btn.pull-right {
		float: right;
	}

}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : @screen-md)
and (max-device-width : @screen-lg)
and (orientation: landscape) {
	body {
		&.home {
			#main {
				article.page {
					padding-top: 30px;
					#intro {
						.tw14-logo-purple {
							margin-top: 0;
						}
					}
				}
			}
		}
		&.pagename-speakers {
			background-image: url('../img/bg-art-tree.jpg');
			background-position: left 00px ;
			background-attachment: fixed;
			background-size: 80% auto;
		}
	}
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : @screen-md)
and (max-device-width : @screen-lg)
and (orientation: portrait) {
	p, li, blockquote, address {
		font-size: 120%;
	}
	body {
		max-width: 768px;
		background-size: 700px auto;
		background-position: 80% 170px;
		&.home {
			background-size: 800px auto;
		}
		&.pagename-speakers {
			background-image: url('../img/bg-art-tree.jpg');
			background-position: left 00px ;
			background-attachment: fixed;
			background-size: 120% auto;
		}
	}
	.home {
		#main {
			article.page {
				#intro {
					img {
						margin-top: 50px;
						width: 100%;
					}
					.tw14-logo-purple {
						display: none;
					}
					.location {
						h2, p {
							margin-left: 30px;
						}
					}
				}
			}
		}
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : @screen-xs) {
	body {
		max-width: 480px;
	}

}

@media (max-width: 760px) {
  .pagename-leadership-pre-event .jumbotron {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 0;
    background-size: auto 100%;
  }
}


