//
// Layouts
// --------------------------------------------------



@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";
@import "mixins-custom.less";

* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  background-color: #F6F6F6;
  font-family: @baseFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @grayDark;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  

  background-color: #F6F6F6;
  background-image: url('http://truewoman14.com.s3.amazonaws.com/library/img/bg-art-grapes.jpg');
  background-repeat: no-repeat;
  background-size: 908px auto;
  background-attachment: fixed;
  background-position: center 150px;

  &.pagename-speakers {
    background-image: url('http://truewoman14.com.s3.amazonaws.com/library/img/bg-art-tree.jpg');
    background-position: left 00px ;
    background-attachment: fixed;
    background-size: 100% auto;
  }
  &.pagename-location-travel {
    background-image: url('http://truewoman14.com.s3.amazonaws.com/library/img/bg-art-indoors.jpg');
    background-size: 1400px auto;
    background-position: center -140px;
    background-attachment: fixed;
  }
  &.pagename-promote {
    background-image: url('http://truewoman14.com.s3.amazonaws.com/library/img/bg-art-birds.jpg');
    background-size: 750px auto;
    background-position: right -180px;
    background-attachment: fixed;
  }
  &.pagename-faqs {
    background-image: url('http://truewoman14.com.s3.amazonaws.com/library/img/bg-art-branch.jpg');
    background-size: 1400px auto;
    background-position: center -100px;
    background-attachment: fixed;
  }
  &.pagename-schedule {
    background-image: url('http://truewoman14.com.s3.amazonaws.com/library/img/bg-art-birds.jpg');
    background-size: 750px auto;
    background-position: right -180px;
    background-attachment: fixed;
  }
  &.pagename-about {
    background-image: url('http://truewoman14.com.s3.amazonaws.com/library/img/bg-art-grapes.jpg');
    background-size: 1000px auto;
    background-position: 300px 10%;
    background-attachment: fixed;
  }
  &.pagename-contact {
    background-image: url('http://truewoman14.com.s3.amazonaws.com/library/img/bg-art-birds.jpg');
    background-size: 750px auto;
    background-position: right -180px;
    background-attachment: fixed;
  }
  &.pagename-register {
    background-image: url('http://truewoman14.com.s3.amazonaws.com/library/img/bg-art-location.jpg');
    background-size: 1400px auto;
    background-position: center -200px;
    background-attachment: fixed;
  }
}

a {
  color: @linkColor;
  .transition-two(background, .5s, color, .5s);
  &:hover {
    text-decoration: none;
  }
}

strong {
  font-weight: 700;
}

table {
  strong {
    font-weight: 500;
  }
  .column-name {
    width: 25%;
  }
  .column-session {
    width: 50%;
  }
  .column-room {
    width: 25%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: @headingsFontFamily;
  font-weight: @headingsFontWeight;
}

p, li, blockquote, address {
  font-family: @altFontFamily;
  font-size: 102%;
}
hr {
  border:0;
  background: transparent url("http://truewoman14.com.s3.amazonaws.com/library/img/pencil-line-horizontal.png") repeat-x top;
  height: 4px;
  margin: 60px 0;
}
p.lead {
  color: @gray;
  line-height: 1.7em;
  font-style: italic;
  font-size: 1.7em;
}
.highlight {
  background-color: lightyellow;
  background-color: rgba(255, 255, 56, .2);
}

.text-glow {
  text-shadow: 0 1px 16px @white;
}

.table {
  margin-bottom: @baseMargin;
  tr.emphasize td {
    font-weight: 700;
    color: inherit;
    background: lighten(@palePurple, 20%);
  }
  th {
    font-weight: 700;
    color: @white;
    background: @purple; /* Pale Violet */
  }
  th, td {
    padding: 18px 15px;
    font-size: 110%;
    font-family: @sansFontFamily;
  }
}

address {
  font-family: @altFontFamily;
  h4 {
    margin-bottom: 5px;
  }
}

.amp {
  font-family: @serifFontFamily;
  font-style: italic;
  font-weight: normal;
}

.arrow-down {
  display: inline-block;
  height: 24px;
  width: 24px;
  text-indent: -900em;
  .retina-image('http://truewoman14.com.s3.amazonaws.com/library/img/arrow-down2', 'png', no-repeat, 24px, 24px, 0, 3px);
}

.well {
  margin-left: -20px;
  margin-right: -20px;
  background-color: #fff;
  background-color: rgba(255,255,255,.5);
  border:none;
  .border-radius(@borderRadiusSmall);
  .box-shadow(0 1px 2px rgba(0,0,0,.2));
  padding: 40px;
  .box-sizing(border-box);
}

.wpcf7-form {
  max-width: 600px;
  
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] {
    height: 34px;
    margin-bottom: 0;
  }
  input[type="email"] {
    max-width: 250px;
  }
  input[type="tel"] {
    max-width: 150px;
  }
  p {
    margin: 0 !important;
  }
  sup {
    color: @red;
    font-weight: bold;
  }
  legend {
    margin: 10px 0 2px;
  }
  .info {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 90%;
  }
  .wpcf7-response-output.wpcf7-validation-errors {
    background-color: @warningBackground;
    border-color: @warningBorder;
    color: @warningText;
  }
  .wpcf7-not-valid-tip {
    background-color: @errorBackground;
    color: @errorText;
    border-color: @errorBorder;
  }
  .wpcf7-mail-sent-ok {
    background-color: @successBackground;
    color: @successText;
    border-color: @successBorder;
  }
  .wpcf7-text#city {
    width: 208px;
  }
  .wpcf7-text#zip {
    width: 130px;
  }
  .wpcf7-text#state {
    width: 44px;
    text-align: center;
  }

  .wpcf7-radio {
    span.wpcf7-list-item {
      margin-left: 0;
      margin-right: .5em;
    }
    label {
      display: inline-block;
      padding: 5px 10px 10px 0;
      font-family: @baseFontFamily;
    }
    input {
      margin-top: -5px;
      margin-right: 2px;
    }
  }
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] {
    color: @grayDark;
    width: 100%;
    .box-sizing(border-box);
    &:-moz-placeholder {
      color: #ccc;
    }
    &:-ms-input-placeholder {
      color: #ccc;
    }
    &::-webkit-input-placeholder {
      color: #ccc;
    }
  }
}

/* Structure */

.page-wrap {
  min-height: 100%;
  margin-bottom: -300px;
  padding-bottom: 300px;
  &:after {
    content: "";
    display: block;
  }
}




/* Components */

.btn,
.form-actions input[type="submit"] {
  /*background: @palePurple;*/
  //background-color: #F8F8F6;
  background-image: none;
  color: @grayDark;
  text-shadow: @baseTextShadow;
  /*color: @white;
  text-shadow: none;*/
  font-family: @sansFontFamily;
  font-weight: 500;
  /*border: none;*/
  padding: 8px 15px;
  #translucent > .background(@color: #E3E7D9, @alpha: .7);
  .box-shadow(inset 0 1px 0 rgba(255,255,255,.4));
  .border-radius(4px);
  .transition(all);
  .transition-duration(.5s);
  &:hover {
    /*background: darken(@palePurple, 08%);
    color: @white;*/
    background: @blue;
    border-color: lighten(#6AA4A8, 10%);
    background-image: none;
    color: darken(@blue, 36%);
    #translucent > .background(@color: #CDE3EE, @alpha: .8);
  }
  &.btn-register {
    margin: 30px 0;
  }
  &.btn-register-global {
    //margin-left: -45px;
    //margin-right: -45px;
  }
  i {
    font-style: normal;
  }
}

/* Call to Action Button */
.btn-cta,
.pagename-home .li-cta > a,
.pagename-speakers .li-cta > a,
.pagename-schedule .li-cta > a,
.pagename-location-travel .li-cta > a,
.pagename-promote .li-cta > a,
.pagename-about .li-cta > a,
.pagename-faqs .li-cta > a,
.pagename-contact .li-cta > a {
  background: @purple !important;
  border: none;
  color: @greenLight !important;
  .border-radius(@baseBorderRadius);
  text-shadow: none !important;
  font-family: @sansFontFamily;
  text-transform: uppercase;
  font-size: 26px;
  padding: 25px 20px 25px;
  float: none;
  display: block;
  .box-shadow2(5px 5px 0 rgba(144, 67, 154, .5), -5px -5px 0 rgba(67, 172, 214, .5)) !important;
  
  i {
    font-family: @serifFontFamily;
    font-style: italic;
    font-weight: normal;
    text-transform: none;
  }
  .info {
    font-family: @baseFontFamily;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    color: @white;
    color: rgba(255,255,255,.6);
    font-size: 15px;
    margin-top: 10px;
    display: block;
  }
  &:hover {
    background: darken(@purple, 15%) !important;
    color: darken(@greenLight, 10%) !important;
  }
}

.input-append {
  button[type="submit"] {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}


/* Toolbar Nav */

#toolbar-nav {
  float: right;
  .nav {
    margin-top: -47px;
    margin-right: -17px;
    color: @white;
    font-size: 20px;
    font-weight: 500;
    li {
      &:first-child {
        .pipe {
          display: none;
        }
      }
      &.active {
        a {
          background-color: rgba(0,0,0,.05);
          .box-shadow2(inset 0 2px 1px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1));
          &:hover {
            background-color: rgba(0,0,0,.1);
          }
        }
      }
      &:last-child a {
        color: @white;
      }
      & > a {
        color: rgba(255,255,255,.87);
        font-family: @sansFontFamily;
        text-shadow: none;
        display: inline-block;
        border-radius: 2px;
        &:hover {
          color: @white;
        }
        
      }
    }
    
    .pipe {
      .retina-image('http://truewoman14.com.s3.amazonaws.com/library/img/pipe', 'png', no-repeat, 1px, 25px, 0, 0);
      margin: 0 4px 0 6px;
      width: 2px;
      display: inline-block;
      height: 1em;
      margin-bottom: -3px;
      display: inline-block;
    }
  }
}


/* Main Navigation */

.navbar {
  background:  url('http://truewoman14.com.s3.amazonaws.com/library/img/pencil-line-horizontal2.png') repeat-x bottom !important;
  padding-bottom: 4px;
  .brand {
    position: relative;
    left: 0;
    top: 8px;
    width: 218px;
    height: 52px;
    margin-left: 1px;
    margin-bottom: 0px;
    float: none;
    .retina-image('http://truewoman14.com.s3.amazonaws.com/library/img/logo','png', no-repeat, 218px, 52px, 0, 0);
    .hide-text();
  }
  
  nav.main-nav {
    margin-top: 10px;
    position: relative;
    top:0;
    background: 
      url('http://truewoman14.com.s3.amazonaws.com/library/img/pencil-line-horizontal2.png') repeat-x 0 -2px,  /* top line */
      url("http://truewoman14.com.s3.amazonaws.com/library/img/exclusive_paper.png") repeat-x 0 2px; /* paper texture */
    //overflow: hidden;
    
    ul.nav {
      width: 100%;
      @media only screen 
        and (min-width: 481px) {
          & > li {
            &:last-child {
              float: right;
              width: 23%;
            }
          }
        }
      ul.dropdown-menu {
        border-radius: @baseBorderRadius;
        margin-left: 0;
        margin-right: 0;
        
        & > li.menu-item {
          text-transform: none;
          font-size: 110%;
          & > a {
            font-family: @baseFontFamily;
            line-height: 25px;
            padding-left: 30px !important;
            font-weight: 400;
            //background: @red;
            &:hover {
              background: @red;
            }
          }
        }
      }
      & > li {
        font-size: 22px;
        text-transform: uppercase;
        font-family: "futura-pt";
        width: 14%;
        margin-left: 1%;
        margin-right: 1%;
        &:first-child {
          margin-left: 1%;
        }
        &:nth-child(3) {
          width: 25%;
        }
        &.dropdown {

          .caret {
            margin-left: 5px;
            margin-top: 10px;
          }
        }
        
        
        &.active {
          & > a, & > a:hover, & > a:focus {
            background-color: rgba(0,0,0,.05);
            .box-shadow2(inset 0 2px 1px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.6));
            color: @purple;
          }
        }
        & > a {
          color: @grayDark;
          font-weight: 500;
          padding: 22px 0;
          margin: 9px 0 5px;
          text-align: center;
          border-radius: @baseBorderRadius;
          &.btn-large {
            padding: 14px 28px;
            margin-top: 19px;
            margin-left: 10px;
            color: @greenLight;
            text-shadow: none;
            float: right;
          }
          &:hover, &:active, &:focus {
            color: @purple;
          }
        }
        
      }
    }
  }
}

.navbar-inner {
  background: @red;
  border: none;
  /*.box-shadow(none) !important;*/
}

/* Secondary Nav */



/* Content Styling */

#main {
  margin-bottom: 0;
  
  article.page {
    //padding-top: 90px;
    border-bottom: none;
    header {
      .page-header {
        border-bottom: 0;
        padding: 13px 0 10px;
        margin: 10px 0;
        h1 {
          text-transform: uppercase;
          font-size: 36px;
          font-weight: 500;
          text-shadow: 0 0 20px @white;
          
          .btn {
            margin-top: 4px;
          }
        }
        
        span {
          color: @gray;
        }
        &.page-header-search h1 {
          text-transform: none;
        }
      }
    }
    .paper {
      background-color: #fff;
      background-color: rgba(255,255,255,.75);
      margin: 0 -50px 0 -50px;
      padding: 50px 50px 60px;
      .border-radius(@baseBorderRadius);
      .box-shadow(0 1px 2px rgba(0,0,0,.2));
      min-height: 600px;
      &.paper-short {
        min-height: 200px;
      }
      .page-hero {
        background-color: #010103;
        //background: url("http://truewoman14.com.s3.amazonaws.com/library/img/exclusive_paper.png") repeat;
        text-align: center;
        border-radius: @baseBorderRadius;
        overflow: hidden;
        margin-bottom: 30px;
      }
      .section {
        background: url("http://truewoman14.com.s3.amazonaws.com/library/img/pencil-line-horizontal.png") repeat-x center bottom;
        padding-bottom: 50px;
        margin-bottom: 50px;
        &:last-child {
          background: none;
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
      

    }
    section.post_content {
      
      h2 {
        font-size: 36px;
        font-weight: normal;
        position: relative;

        span {
          position: absolute;
          top: -200px;
        }

      }
      a.btn-cta {
        position: relative;
        span {
          position: absolute;
          top: -200px;
        }
      }
      h3 {
        font-size: 26px;
        font-weight: 500;
        text-transform: uppercase;
        span {
          position: absolute;
          top: -200px;
        }
      }
      p, ul, ol, blockquote {
        margin: 1em 0;
      }
      ul {
        margin-left: 0px;
        list-style: none;
        li {
          padding-left: 20px;
          .retina-image("../img/bullet-circle", "png", no-repeat, 8px, 8px, 2px, 6px);
        }
      }
    }
    
    footer {
      clear: both;
    }
    .paper > .row > .span3 {
      //background: @red;
      overflow: hidden;
      min-height: 300px;
      
      
      .nav {
        //background: @blue;
        min-width: 190px;
        //position: fixed;
        margin-top: 0;
        padding: 0 0 50px;
        margin-left: 30px;
        
        //background: url("http://truewoman14.com.s3.amazonaws.com/library/img/pencil-line-vertical.png") repeat-y -2px;
        li {
          font-family: @baseFontFamily;
          font-size: 110%;
          
          &.break {
            padding: 20px;
          }
          a {
            padding: 10px 0;
            //border-bottom: 1px dashed #ddd;
            background: url("http://truewoman14.com.s3.amazonaws.com/library/img/pencil-line-horizontal.png") repeat-x center bottom;
            background-size:200px 1px;
            .transition(background-color);
            .transition-duration(.3s);
            
            &:hover {
              border-right: 6px solid @palePurple;
              //background: rgba(0,0,0,.05);
              //background: #F1EEE3;
              //background: rgba(241, 236, 224, .6) url("http://truewoman14.com.s3.amazonaws.com/library/img/pencil-line-horizontal.png") repeat-x center bottom;
            }
          }
        }
      }
    }
  }
  article.page section.post_content {
    .table-schedule-wrap {
      line-height: 1.5;
      h2 {
        text-align: center;
        font-size: 32px;
        margin-bottom: 30px;
        text-transform: uppercase;
        letter-spacing: 2px;
        position: relative;
        
        
      }
      h3 {
        text-align: center;
        background-color: @purple;
        color: @white;
        padding: 15px;
        margin-bottom: 0;
      }
      .table {
        margin-top:0;
        margin-bottom: @baseMargin;
        border-left: 0;
        border-right:0;
  
        tr > td:first-child, 
        tr > th:first-child {
          border-left: 0;
        }
        td.name {
          font-weight: 600;
        }
        td.indent {
          padding-left: 3%;
        }
      }
    }
    .main-session {
      padding-bottom: 30px;
      h3 {
        background-color: lighten(@purple, 17%);
        color: @white;
        padding: 15px;
        margin-bottom: 0;
      }
      .info {
        color: @gray;
        padding: 10px 20px 15px;
        strong {
          color: @black;
        }
  
      }
      table {
        background-color: rgba(189, 147, 192, .1);
        th {
          background-color: #BD93C0;
          background-color: rgb(189, 147, 192);
          .dim {
            font-weight: 300;
          }
        }
        td.darken {
          background-color: rgba(189, 147, 192, .15);
        }
      }
    }
    .pre-session {
      h3 {
        background-color: @blue;
        color: @white;
        padding: 15px;
        margin-bottom: 0;
        
      }
      .info-block {
        background-color: lighten(@blue, 40%);
        padding: 30px;
        font-size: 22px;
        text-align: center;
        font-style: italic;
        font-weight: 700;
      }
      table {
        background-color: rgba(146, 200, 221, .1);
        
        th {
          
          background-color: lighten(@blue, 25%);
        }
        td.darken {
          background-color: rgba(146, 200, 221, .15);
        }
      }
    }
  
    .break {
      padding: 20px 0;
      text-align: center;
      h2 {
        font-size: 26px;
        font-weight: 700;
      }
    }
  }
  .speakers {
    margin-left:0;

    list-style: none;
    li {
      margin: 60px 0;
      &:first-child {
        margin-top: 0;
      }
  
      h2 {
        font-family: @sansFontFamily;
      }
      .photo img {
        max-width: 90%;
        border-radius: @baseBorderRadius;
        .box-shadow(0 1px 4px rgba(0,0,0,.3));
      }
    }
    &:first-child {
      margin-top: 7px !important;
    }
  }
}


/* SCHEDULE WRAP */


footer[role="contentinfo"] {
  padding: 46px 0 40px;
  margin-top: -0 0px;
  background: url("http://truewoman14.com.s3.amazonaws.com/library/img/pencil-line-horizontal.png") repeat-x 0 -2px, url("http://truewoman14.com.s3.amazonaws.com/library/img/exclusive_paper.png") repeat, #E6E3E1;

  color: @gray;
  
  
  p, li {
    font-family: @sansFontFamily;
    font-weight: 500;
    &.attribution {
      a {
        color: inherit;
        &:hover {
          color: @linkColor;
        }
      }
    }
  }
  .footer-links {
    float: left;
    margin-left: 20px;
  }
  .footer-social-nav {
    font-family: @altFontFamily;
    strong {
      margin-right: 7px;
    }
    .btn {
      padding: 10px 13px;
      i {
        height: 24px;
        width: 24px;
        text-indent: -900em;
        &.icon-facebook { .retina-image('http://truewoman14.com.s3.amazonaws.com/library/img/icon-facebook', 'png', no-repeat, 24px, 24px, 0, 0); }
        &.icon-twitter { .retina-image('http://truewoman14.com.s3.amazonaws.com/library/img/icon-twitter', 'png', no-repeat, 24px, 24px, 0, 0); }
        &.icon-pinterest { .retina-image('http://truewoman14.com.s3.amazonaws.com/library/img/icon-pinterest', 'png', no-repeat, 24px, 24px, 0, 0); }
        &.icon-vimeo { .retina-image('http://truewoman14.com.s3.amazonaws.com/library/img/icon-vimeo', 'png', no-repeat, 24px, 24px, 0, 0); }
      }
      
    }
  }
  #menu-footer-nav {
    margin-left: 15px;
    li {
    margin-left: 0;
      &:first-child {
        .pipe {
          display: none;
        }
      }
    }
    .pipe {
      .retina-image('http://truewoman14.com.s3.amazonaws.com/library/img/pipe', 'png', no-repeat, 1px, 25px, 0, 0);
      margin: 0 8px 0 10px;
      width: 2px;
      display: inline-block;
      height: 1em;
      margin-bottom: -3px;
      display: inline-block;
    }
  }
  .btn-cta {
    margin-bottom: 40px;
    padding-bottom: 16px;
  }
  img#footer-branding {
    max-width: 100%;
    margin-bottom: 25px;
  }
  #sbi_camera_button { display: none !important; }
}

.video {
  min-height: auto;
  .videowrapper {
    position: relative;
    padding-bottom: 54.25%;
    padding-top: 25px;
    margin-bottom: 2.25em;
    height: 0;
    iframe {
      position: absolute;
      top:0;
      left:0;
      width: 100%;
      height: 100%;
    }
  }
}


/* Home */

.home {
  article.page {
    h2 {
      text-transform: uppercase;
      font-weight: 500 !important;
      &.border {
        background: url(http://truewoman14.com.s3.amazonaws.com/library/img/pencil-line-horizontal.png) no-repeat left center, url(http://truewoman14.com.s3.amazonaws.com/library/img/pencil-line-horizontal.png) no-repeat right center;
        background-size: 300px auto;
        margin:0;
      }
    }
    @media (max-width: 979px) {
      h2 {
        &.border {
          background-size: 260px auto;
        }
      }
    }
    @media (max-width: 767px) {
      h2 {
        &.border {
          background-size: 30% auto;
        }
      }
    }
    @media (max-width: 480px) {
      h2 {
        &.border {
          background-position: center top;
          background-size: 100% 0;
          padding-top: 50px;
        }
      }
    }
    
    #intro {
      //margin-top: 0%;
      margin-bottom: 20%;
      .location, .date {
        padding-top: 24%;
        h2 {
          font-weight: 500;
          text-transform: uppercase;
          font-size: 160%;
          margin:0;
          line-height: 1.2;
        }
        p {
          font-family: @baseFontFamily;
          font-weight: 500;
          color: @gray;
          margin:0;
        }
      }
      .date .small-screen-only {
        margin-bottom: 20px;
      }
      .date {
        text-align: right;
      }
      img {
        .center-block();
        width: 80%;
      }
      .tw14-logo-purple {
        .center-block();
        width: 52%;
        margin-bottom: 8%;
      }
      .btn-cta {
        .center-block();
        margin-top: 15%
      }
    }
    .paper {
      h2 {
        font-size: 260% !important;
        text-align: center;
        margin-bottom: 40px;
      }
      #speakers {
        min-height: auto;

        margin: 80px 0 120px;
        img {
          margin-bottom: 10px;
        }
        h2 {
          text-align: center;
          margin-bottom: 40px;
        }
        h3 {
          margin-bottom: 0;
          line-height: 1;
          text-transform: none;
          font-size: 22px;
          
          margin-bottom: 0;
          text-align: center;
        }
      } /* end Speakers */
      
      
      
      #testimonials {
        padding: 50px 50px 50px;
        text-align: center;
        min-height: 185px;
        &.carousel.carousel-fade .item {
          opacity:0;
        }
        
        &.carousel.carousel-fade .active.item {
            opacity:1;
        }
        .carousel-control {
          background-color: transparent;
          color: #aaa;
          border: none;
        }
        blockquote {
          border-left: none;
          margin-left: 15%;
          margin-right: 15%;
          
          p {
            font-size: 200%;
            color: @grayDark;
          }
          cite {
            font-style: italic;
            font-size: 130%;
          }
        }
      }
      
      @media only screen
      and (max-width : 480px) {
        #testimonials {
          blockquote {
            margin-left: 0;
            margin-right: 0;
            p {
              font-size: 120%;
            }
          }
        }
      }
      
      #topics {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
        min-height: 100px;
        ul {
          li {
            background: none !important;
            padding-left:0 !important;
            font-size: 26px;
            font-style: italic;
            line-height: 1.5em;
            margin-bottom: .4em;
            text-transform: lowercase;
          }
        }
      }
    }
    
  }
}

.pagename-faqs,
.pagename-volunteers {
  #main {
    article.page {
      .qa-faqs h2.faq-catname {
        display: none;
      }
      .qa-faqs > form[role=search] {
        background-color: lighten(#92CA9C, 24%);
        padding: 20px;
        .box-sizing(border-box);
        border-radius: @baseBorderRadius;
      }
      .qa-faq {
        background: url("http://truewoman14.com.s3.amazonaws.com/library/img/bullet-circle.png") no-repeat left 11px;
        padding-left: 20px;
        display: block;
        
        h3 {
          font-size: 130%;
          margin-bottom: 0;
          margin-top: 0;
          text-transform: none;
          line-height: 1.3;
          
        }
        p.lead {
          margin:0;
          font-size: inherit;
          color: inherit;
        }
        p {
          margin: 5px 0;
        }
      }
    }
    #qaplus_searchform {
      #qasearch {
        margin-bottom: 0;
        margin-right: 0;
      }
    }
  }
}

.pagename-register,
.pagename-volunteers,
.pagename-exhibitors,
.pagename-exhibitor-application,
.pagename-thank-you {

  .btn-register-global {
    display: none;
  }

}

.pagename-location-travel {
  #main {
    .btn {
      font-size: 17px;
    }
    .btn strong {
      display: block;
      text-transform: uppercase;
    }
  }
  
}

@import "theme-responsive.less";


